.none {
  text-decoration: none;
}
.top-header {
  background-color: #f0f2f5;
}
.nav-image {
  width: 30px;
  border-radius: 50%;
}
h2 {
  font-family: sans-serif;
  color: #7000ff;
  font-weight: 600;
  font-size: 25px;
  display: inline-block;
}
.main-navigation {
  margin-top: 20px;
}
